@font-face {
  font-family: 'robotoblack';
  src: url('../fonts/roboto/roboto_black_macroman/Roboto-Black-webfont.eot');
  src: url('../fonts/roboto/roboto_black_macroman/Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto/roboto_black_macroman/Roboto-Black-webfont.woff') format('woff'), url('../fonts/roboto/roboto_black_macroman/Roboto-Black-webfont.ttf') format('truetype'), url('../fonts/roboto/roboto_black_macroman/Roboto-Black-webfont.svg#robotoblack') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotobold';
  src: url('../fonts/roboto/roboto_bold_macroman/Roboto-Bold-webfont.eot');
  src: url('../fonts/roboto/roboto_bold_macroman/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto/roboto_bold_macroman/Roboto-Bold-webfont.woff') format('woff'), url('../fonts/roboto/roboto_bold_macroman/Roboto-Bold-webfont.ttf') format('truetype'), url('../fonts/roboto/roboto_bold_macroman/Roboto-Bold-webfont.svg#robotobold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotomedium';
  src: url('../fonts/roboto/roboto_medium_macroman/Roboto-Medium-webfont.eot');
  src: url('../fonts/roboto/roboto_medium_macroman/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto/roboto_medium_macroman/Roboto-Medium-webfont.woff') format('woff'), url('../fonts/roboto/roboto_medium_macroman/Roboto-Medium-webfont.ttf') format('truetype'), url('../fonts/roboto/roboto_medium_macroman/Roboto-Medium-webfont.svg#robotomedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotoregular';
  src: url('../fonts/roboto/roboto_regular_macroman/Roboto-Regular-webfont.eot');
  src: url('../fonts/roboto/roboto_regular_macroman/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto/roboto_regular_macroman/Roboto-Regular-webfont.woff') format('woff'), url('../fonts/roboto/roboto_regular_macroman/Roboto-Regular-webfont.ttf') format('truetype'), url('../fonts/roboto/roboto_regular_macroman/Roboto-Regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotoitalic';
  src: url('../fonts/roboto/roboto_italic_macroman/Roboto-Italic-webfont.eot');
  src: url('../fonts/roboto/roboto_italic_macroman/Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto/roboto_italic_macroman/Roboto-Italic-webfont.woff') format('woff'), url('../fonts/roboto/roboto_italic_macroman/Roboto-Italic-webfont.ttf') format('truetype'), url('../fonts/roboto/roboto_italic_macroman/Roboto-Italic-webfont.svg#robotoitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotolight';
  src: url('../fonts/roboto/roboto_light_macroman/Roboto-Light-webfont.eot');
  src: url('../fonts/roboto/roboto_light_macroman/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto/roboto_light_macroman/Roboto-Light-webfont.woff') format('woff'), url('../fonts/roboto/roboto_light_macroman/Roboto-Light-webfont.ttf') format('truetype'), url('../fonts/roboto/roboto_light_macroman/Roboto-Light-webfont.svg#robotolight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotothin';
  src: url('../fonts/roboto/roboto_thin_macroman/Roboto-Thin-webfont.eot');
  src: url('../fonts/roboto/roboto_thin_macroman/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto/roboto_thin_macroman/Roboto-Thin-webfont.woff') format('woff'), url('../fonts/roboto/roboto_thin_macroman/Roboto-Thin-webfont.ttf') format('truetype'), url('../fonts/roboto/roboto_thin_macroman/Roboto-Thin-webfont.svg#robotothin') format('svg');
  font-weight: normal;
  font-style: normal;
}
.gallery_box li {
  width: 33.333333%;
  max-width: 100% ;
  display: inline-block;
  float: left;
  text-align: center;
  overflow: hidden;
  position: relative;
}
.gallery_box {
  padding: 0;
  display: flow-root;
}
.gallery_box li:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.gallery_box li img {
  -webkit-transition: transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
}
.gallery_box li:nth-child(even) {
  height: 304px;
}
.gallery_box li:nth-child(odd) {
  height: 438px;
}
.gallery_box li:nth-child(odd) .box_data {
  background: rgba(0, 0, 0, 0.17);
}
.gallery_box li:nth-child(even) .box_data {
  background: rgba(0, 44, 255, 0.27);
}
.gallery_box .box_data {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
}
.gallery_box .box_data span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0 ;
  right: 0;
  font-size: 24px;
}
.gallery_box li:hover .box_data {
  background: rgba(255, 0, 39, 0.55);
}
@media only screen and (max-width: 768px) {
  .logo_masha h3 {
    font-size: 1.5rem;
  }
  .logo_masha .description_home span.description_home {
    font-size: .7rem;
  }
  .logo_masha .description_home span.develop {
    font-size: .6rem;
  }
}
a {
  text-decoration: none;
}
html body {
  font-size: 100%;
  font-family: 'robotolight';
  font-weight: normal;
  font-style: normal;
  background-color: #ffffff;
  overflow-x: hidden;
}
html body::-webkit-scrollbar {
  width: 8px;
}
html body::-webkit-scrollbar-track {
  background-color: #2f2f2f;
}
html body::-webkit-scrollbar-thumb {
  background-color: #fcbf0e;
}
header .slider_home {
  z-index: 1;
}
header nav {
  z-index: 4;
}
header nav a {
  align-items: center;
}
header nav a.nav-link {
  color: #ffffff !important;
}
header nav a.nav-link:hover {
  color: #fcbf0e !important;
}
header nav a i.fa-circle {
  font-size: .5rem;
}
.dropdown-menu {
  background-color: rgba(255, 255, 255, 0.1) !important;
}
.dropdown-menu a.dropdown-item {
  color: #ffffff !important;
}
.dropdown-menu a.dropdown-item:hover {
  color: #ffffff !important;
  background-color: rgba(255, 255, 255, 0.3) !important;
}
.logo_masha {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 3;
  flex-direction: column;
}
.logo_masha svg {
  width: 30%;
}
.logo_masha h3 {
  font-size: 6em;
  margin: 0;
  font-weight: 100;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 4px;
  font-family: 'robotothin';
  font-weight: normal;
  font-style: normal;
}
.logo_masha .description_home {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo_masha .description_home span.design {
  font-size: 1.3em;
  margin: 0;
  font-weight: 100;
  color: #ffffff;
  letter-spacing: 2px;
  font-family: 'robotoregular', sans-serif;
}
.logo_masha .description_home span.develop {
  font-size: 1rem;
  margin: 0;
  font-weight: 100;
  color: #ffffff;
  letter-spacing: 2px;
}
.profile_description {
  border-bottom: 1px dashed #ccc;
}
.profile_description h2 {
  font-size: 4em;
  color: #ff9800;
}
.description_masha {
  border-bottom: 1px dashed #ccc;
}
.services_cards {
  background-color: #000000;
  display: flex;
  justify-content: space-around;
}
.services_cards .card {
  border-radius: 0;
  width: 22rem;
}
.services_cards .icon-left {
  float: none;
  width: 70px;
  height: 70px;
  text-align: center;
  padding: 1.2em 0 0 0;
  background: #ff9800;
}
.services_cards .icon-left i {
  color: #ffffff;
  font-size: 2em;
}
.services_cards .card-body .card-subtitle {
  color: #000000;
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.services_cards .card-body .card-text {
  color: #999999;
  font-size: .9em;
}
.servicio-masha {
  background-color: #000000;
}
.servicio-masha .services-title {
  font-size: 4rem;
  color: #ff9800;
}
/*# sourceMappingURL=style.css.map */