@import "variables.less";
@import "fonts.less";

@media only screen and (max-width: 1024px) {

}
@media only screen and (max-width: 900px) {

}
@media only screen and (max-width: 768px) {
  .logo_masha{
    h3 {
      font-size: 1.5rem;
    }
    .description_home{
      span{
        &.description_home{
          font-size: .7rem;
        }
        &.develop{
          font-size: .6rem;
        }
      }
    }
  }
}
@media only screen and (max-width: 400px) {

}
