@import "variables.less";
@import "fonts.less";
@import "gallery.less";
@import "responsive.less";

a{
  text-decoration: none;
}
html{

  body{
    font-size: 100%;
    font-family: 'robotolight';
    font-weight: normal;
    font-style: normal;
    background-color: @color-white;
    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-track {
      background-color: @color-gris-background;
    }
    &::-webkit-scrollbar-thumb {
      background-color:  @color-primary;
    }
    overflow-x: hidden;
  }
}
header{
  .slider_home{
    z-index: 1;
  }
  nav{
    z-index: 4;
    a{
      align-items: center;
      &.nav-link{
        color: @color-white !important;
        &:hover{
          color: @color-primary !important;
        }
      }
      i{
        &.fa-circle{
          font-size: .5rem;
        }
      }
    }
  }
}
.dropdown-menu{
  background-color: @color-sub-menu !important;
  a{
    &.dropdown-item{
      color: @color-white !important;
      &:hover{
        color: @color-white !important;
        background-color: @color-sub-menu-hover !important;
      }
    }
  }
}
.logo_masha{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 3;
  flex-direction: column;
  svg{
    width: 30%;
  }
  h3{
    font-size: 6em;
    margin: 0;
    font-weight: 100;
    text-transform: uppercase;
    color: @color-white;
    letter-spacing: 4px;
    font-family: 'robotothin';
    font-weight: normal;
    font-style: normal;
  }
  .description_home{
    display: flex;
    flex-direction: column;
    align-items: center;
    span{
      &.design{
        font-size: 1.3em;
        margin: 0;
        font-weight: 100;
        color: @color-white;
        letter-spacing: 2px;
        font-family: 'robotoregular', sans-serif;
      }
      &.develop{
        font-size: 1rem;
        margin: 0;
        font-weight: 100;
        color: @color-white;
        letter-spacing: 2px;
      }
    }
  }
}

.profile_description{
  border-bottom: 1px dashed #ccc;
  h2{
    font-size: 4em;
    color: @color-naranja-fuerte;
  }
}
.description_masha{
  border-bottom: 1px dashed #ccc;
}
.services_cards{
  background-color:@color-black;
  display: flex;
  justify-content: space-around;
  .card{
    border-radius: 0;
    width: 22rem;
  }
  .icon-left {
    float: none;
    width: 70px;
    height: 70px;
    text-align: center;
    padding: 1.2em 0 0 0;
    background:  @color-naranja-fuerte;
    i{
    color: @color-white;
    font-size: 2em;
    }
  }
  .card-body{
    .card-subtitle{
      color: @color-black;
      font-size: 1em;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 4px;
    }
    .card-text{
      color: #999999;
      font-size: .9em;
    }
  }
}
.servicio-masha{
  background-color:@color-black;
  .services-title{
    font-size: 4rem;
    color: @color-naranja-fuerte;

  }
}
