// Colores Principales
@color-white: #fff;
@color-black: #000;
@color-primary: #fcbf0e;
@color-sub-menu: rgba(255,255,255,0.1);
@color-sub-menu-hover: rgba(255,255,255,0.3);
@color-naranja-fuerte: #ff9800;

// Escala de Grises
@color-gris-background: #2f2f2f;
